# Ignore config files
config.json
config.js
config.yaml
config.yml
config.py
bot.log
*.log
*.db
*.sqlite
*.cache

# Database files
*.sqlite3
*.db3
*.sql
*.mdb
*.accdb
*.pdb

# JSON and related files
*.jsonl
*.ndjson
*.geojson

# Ignore environment variable files
.env
.env.
.github/workflows/deploy.yml
web-app/curiosa-io-tools/curosa.py
web-app/curiosa-io-tools/cardPercentages.py
