# Ignore config files
config.json
config.js
config.yaml
config.yml
config.py
bot.log
*.log
*.json
*.db
*.sqlite
*.cache

# Database files
*.sqlite3
*.db3
*.sql
*.mdb
*.accdb
*.pdb

# JSON and related files
*.json
*.jsonl
*.ndjson
*.geojson

# Ignore environment variable files
.env
.env.