{% extends "base.html" %}

{% block title %}About - Sorcerers Summit{% endblock %}

{% block content %}
      <section class="content">
        <h1>About Sorcerers Summit</h1>
        <p>
          The Summit is run by CJ (<strong>OFN-CJ</strong>) and Bruce
          (<strong>Goldeneagle</strong>) on Discord. You can check out our
          channels here:
          <a
            href="https://www.youtube.com/@goldeneagle1833"
            target="_blank"
            rel="noopener noreferrer"
            >Goldeneagle</a
          >
          or
          <a
            href="https://www.youtube.com/@Oldfashionednerds"
            target="_blank"
            rel="noopener noreferrer"
            >Old Fashioned Nerds</a
          >.
        </p>

        <h2>Our Mission</h2>
        <p>
          Our mission is to run competitive events and to provide a community
          ELO leaderboard.
        </p>

        <h2>Features</h2>
        <ul>
          <li>ELO ranking system</li>
          <li>LFG (Looking for Group) matchmaking</li>
          <li>Discord integration</li>
          <li>Coming soon: Paper reports</li>
        </ul>
      </section>
{% endblock %}
